*{
    font-family: monospace;
}
    body{
        background-color: #f0f8ff;
        font-size: 15px;
    margin: 0;
}
    header{
        text-align: center;
        padding: 200px;
        height: 100vh;
        color: white;
        background-color: #2196F3;
        border: 1px solid grey;
        border-radius: 20px;
        margin: 20px;
}
h1{
    font-size: 50px;
    color: #2196F3;
}
header h1{
    color: white;
    margin: 0;
    padding: 10px;
}
.button{
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.button:hover{
    color: white;
    background-color: darkblue;
}
img{
    height: 300px;
}
main{
    padding: 20px;
    list-style-position: inside;
    text-align: center;
}
section{
    height: 100vh;
    border: 1px solid grey;
    border-radius: 20px;
    margin: 20px;
}
.submit{
     height: 40px;
    width: 140px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: #2196F3;
    margin-top: 10px;
}
.submit:hover{
    color:  white;
    background-color: #11558d;
}
input{
    border-radius: 5px;
    border: 1px solid lightgray;
    height: 25px;
}
.fixedButton{
    position: fixed;
    bottom: 10px;
    right: 45px;
    height: 70px;
    width: 70px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    background-color: #2196F3;
}
footer{
    height: 124px;
    background-color: black;
    color: white;
}
table,tr,td,th{
    border: 1px solid black;
}
table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 20px;
}
th,td{
    border: 2px solid #000;
    padding: 5px 30px;
    text-align: left;
}
th{
    background-color: #f2f2f2;
    font-weight: bold;
}
ol{
    margin-left: 500px;
    padding-left: 15px;
}
li{
    text-align: left;
    margin-bottom: 8px;
    font-size: 20px;
    font-style: normal;
}
div{
    padding: 100px;
}
input[type=text],input[type=email],textarea{
    display: inline;
    width: 20%;
    padding: 5px 8px;
    margin-top: 6px;
    border: 1px solid black;
    border-radius: 6px;
}
label{
    margin-right: 15px;
    vertical-align: middle;
    font-weight: normal;
}
input[type=radio],input[type=checkbox]{
    margin-right: 5px;
    vertical-align: middle;
}    